/* Styl resetujący domyślne ustawienia przeglądarki */
@import url("reset.css");

/* Podstawowe style */
.container {
  width: 94%;
  margin: 0 auto;
}

.btn {
  font-weight: bold;
  width: 100%;
  background-color: rgb(36, 173, 152);
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  border: none;
  cursor: pointer;
}

/* Media queries dla różnych szerokości ekranu */
@media (min-width: 361px) {
  .container {
    width: 96%;
  }
}

@media (min-width: 769px) {
  .container {
    width: 720px;
  }
  .btn {
    width: auto;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 996px;
  }
}

/* Hover efekt dla urządzeń obsługujących kursor */
@media (hover: hover) {
  .btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(36, 173, 152);
  }
}
